@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background: url(assets/back-4.png) no-repeat left center fixed;
    background-size: cover ;
}

.lastpage {
    position: relative;
    width:460px;
    height:500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin:auto;
    text-align: center;
}
.score{
    color: white;
    font-weight:100;
    font-size:60px;
    font-family: 'Poppins', sans-serif;
}
.playagain{
    color:black;
    opacity: 0.7;
    width: 160px;
    height: 60px;
    border-radius: 20px;
    font-size:x-large;
    font-weight: 300;
    cursor: pointer;
}


.leader-board{
    color:white;
    font-size: x-large;
    font-weight:100 ;
}


.gameover{
    width: 460px;
    font-size:80px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.commands{
    color:white;
    font-size: xx-large;
    font-weight: 100;
}
table {
    
    width:300px;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    background-color: white;
}

th {
    width:40px;
    background-color: #f2f2f2;
}

.close{
    /* display */
    font-size: x-large;
    height: 50px;
    width: 80px;
    border-radius: 30px;
    background-color: #000;
    color: white;
}

.popup{
    display:none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width:550px){
    body{background-position-x: -800px;} 
    .gameover{
        font-size: 50px;
    }
    .score{
        font-size: 40px;
    }
    .playagain{
        font-size: 30px;
    }
    .lastpage{
        padding-top: 200px;
        padding-left: 0px;
        row-gap: 30px;
    }
    p{
        font-size: large;
    }
}
@media (max-width:800px){
    body{background-position-x: -600px;} 
}