img{
    height:200px;
    width: 200px;
    padding: 10px;
}

.grids{
    display: grid ;
    justify-content:center;
    align-items:center;
    grid-template-columns:auto auto auto;
    place-items: center;
    row-gap: 10px;
    column-gap: 10px;
}
div{
    border: 20px solid white;
}
body{
    background-color: black;
    position: absolute;
    top: 5%;
    left:30%;
}